<!-- <div class="mat-dialog-content" mat-dialog-content>
  <h3>Please select your photo from drive!</h3>
  <div class="row">
    <div class="captured-image col-md-6">
      <img [src]="croppedImage"/>
    </div>
    <div class="selected-image col-md-6">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        format="png"
        output="base64"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
        [allowMoveImage]="true"
        [roundCropper]="true">
      </image-cropper>
    </div>
  </div>
  <label>
    <div class="icon-wrapper" style="float: right; margin: 10px 50px;">
      <input type="file" formControlName="photo" id="avatar-input-file" accept="image/*" (change)="fileChangeEvent($event)" />
      <div class="icon">
        <mat-icon>folder</mat-icon>
        <span style="margin-left: 10px;">From Folder</span>
      </div>
    </div>
  </label>
</div>
<div class="mat-dialog-actions" mat-dialog-actions>
  <button mat-flat-button color="warn" (click)="exitDialog(false)">No</button>
  <button mat-flat-button color="primary" cdkFocusInitial (click)="exitDialog(true)" [disabled]="!isCaptured">Crop</button>
</div> -->