.mat-dialog-content {
  .row {
    justify-content: space-between;
    padding: 20px 0;

    .col-sm-12 {
      margin-bottom: 10px;

      button {
        width: inherit;
        height: 120px;
      }
    }
  }
}
.mat-dialog-actions {
  float: right;
}
