<div class="mat-dialog-content" mat-dialog-content>
  <h3>Please capture your photo from camera!</h3>
  <div class="capture-image">
    <div class="web-camera" *ngIf="isCapturing">
      <webcam
        [trigger]="invokeObservable"
        (imageCapture)="captureImg($event)"
        [height]="240"
        [width]="240"
        [videoOptions]="{ facingMode: 'environment'}"
        style="border-radius: 50%">
      </webcam>
    </div>
    <div class="captured-image" *ngIf="!isCapturing">
      <img [src]="webcamImage.imageAsDataUrl"/>
    </div>
  </div>
  <div class="capture-button">
    <button mat-fab extended color="primary" (click)="getSnapshot()">
      <mat-icon>camera</mat-icon>
      Capture Image
    </button>
  </div>
</div>
<div class="mat-dialog-actions" mat-dialog-actions>
  <button mat-flat-button color="warn" (click)="exitDialog(false)">No</button>
  <button mat-flat-button color="primary" cdkFocusInitial (click)="exitDialog(true)">Ok</button>
</div>
