<div *ngIf="!signUpForm.controls['password'].valid && signUpForm.controls['password'].dirty">
  <mat-hint
    ngClass="{{
      signUpForm.controls['password'].hasError('required') || signUpForm.controls['password'].hasError('minlength')
        ? 'false'
        : 'true'
    }}">
    <mat-icon [inline]="true">{{
      signUpForm.controls['password'].hasError('required') || signUpForm.controls['password'].hasError('minlength')
        ? 'info'
        : 'check_circle'
    }}</mat-icon>
    <div>Must be at least 8 characters</div>
  </mat-hint>
  <mat-hint
    ngClass="{{
      signUpForm.controls['password'].hasError('required') || signUpForm.controls['password'].hasError('hasNumber')
        ? 'false'
        : 'true'
    }}">
    <mat-icon [inline]="true">{{
      signUpForm.controls['password'].hasError('required') || signUpForm.controls['password'].hasError('hasNumber')
        ? 'info'
        : 'check_circle'
    }}</mat-icon>
    <div>Must contain at least 1 number</div>
  </mat-hint>
  <mat-hint
    ngClass="{{
      signUpForm.controls['password'].hasError('required') || signUpForm.controls['password'].hasError('hasCapitalCase')
        ? 'false'
        : 'true'
    }}">
    <mat-icon [inline]="true">{{
      signUpForm.controls['password'].hasError('required') || signUpForm.controls['password'].hasError('hasCapitalCase')
        ? 'info'
        : 'check_circle'
    }}</mat-icon>
    <div>Must contain at least 1 in Capitale Case</div>
  </mat-hint>
  <mat-hint
    ngClass="{{
      signUpForm.controls['password'].hasError('required') || signUpForm.controls['password'].hasError('hasSmallCase')
        ? 'false'
        : 'true'
    }}">
    <mat-icon [inline]="true">{{
      signUpForm.controls['password'].hasError('required') || signUpForm.controls['password'].hasError('hasSmallCase')
        ? 'info'
        : 'check_circle'
    }}</mat-icon>
    <div>Must contain at least 1 in Small Case</div>
  </mat-hint>
  <mat-hint
    ngClass="{{
      signUpForm.controls['password'].hasError('required') ||
      signUpForm.controls['password'].hasError('hasSpecialCharacters')
        ? 'false'
        : 'true'
    }}">
    <mat-icon [inline]="true">{{
      signUpForm.controls['password'].hasError('required') ||
      signUpForm.controls['password'].hasError('hasSpecialCharacters')
        ? 'info'
        : 'check_circle'
    }}</mat-icon>
    <div>Must contain at least 1 Special Character</div>
  </mat-hint>
</div>
