<!-- <div class="mat-dialog-content" mat-dialog-content>
  <h3 style="margin: 10px;">Where is your photo!</h3>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <button mat-fab extended color="secondary" (click)="openCameraDialog()">
        <mat-icon color="primary">camera</mat-icon>
        From Camera
      </button>
    </div>
    <div class="col-sm-12 col-md-6">
      <button mat-fab extended color="secondary" (click)="openFolderDialog()">
        <mat-icon color="primary">folder</mat-icon>
        From Folder
      </button>
    </div>
  </div>
</div> -->
<!-- <div class="mat-dialog-actions" mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div> -->