@import '../../../styles.scss';

main.order {
  padding: 30px 10% 50px;
  min-height: 90%;
  background-color: $light-primary;

  @media only screen and (max-width: 768px) {
    padding: 30px 10px 50px;
  }

  form {
    margin-bottom: 20px;
    display: flex;
    justify-content: start;

    .icon-wrapper {
      height: 40px;
      width: 40px;
      padding: .35rem;
      background-color: #2962FF;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      cursor: pointer;

      &:hover {
        transition: all .25s;
        background-color: darken(#2962FF, 15%);
      }

      .icon {
        color: white;
      }

      label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      input[type='file'] {
        display: none;
      }
    }

    p {
      margin: 10px 20px;
      font-size: 24px;
      font-weight: 400;
    }
  }

  mat-card {

    button {
      margin: 20px 0px;
    }
  }



  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }

  .example-radio-button {
    margin: 5px;
  }

  .payment-button {
    float: right;

    button {
      width: 160px;
      color: white;
      border-radius: 20px;
    }
  }
}